/*Button dialog*/

.button-modal {
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
  width: 10%;
}

.button-modal:hover {
  opacity: 0.7;
  background-color: #67B6EE;
}


.dialog-footer{
	padding: 0px 1rem;
	border: none;
}

.close:hover{
	color: white;
    opacity: 1;
}

.modal-font-style{
	color: white;
    font-weight: bold;
}

.modal-color{
	background-color: #67B6EE;
}